#header {
    display: flex;

    /* For a sticky header */
    /* Requires declaring a top, bottom, left, or right value */
    position: sticky;
    position: -webkit-sticky;
    top: 0;

    justify-content: space-between;
    align-items: center;

    padding: .25em 2em;

    background-color: var(--black);

    font: bold 2rem 'Poppins', sans-serif;
    color: var(--white);
}

main {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

h1 {
    font: bold 2rem 'Poppins', sans-serif;
    color: var(--white);
}

a#title {
    text-decoration: none;
}

a#title:hover,
a#title:active,
a#title:link,
a#title:visited {
    color: #fff;
}